*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: 3px;
    text-transform: uppercase;
}
body{
    height: 100vh;
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: cover;
}
.con{
    max-width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100px;
    width: auto;
}
.navmenu a{
    padding: 25px 20px;
    color: aliceblue;
    font-family: "raleway", sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
    transition: .2s;
}
.navmenu a:hover{
    background-color: #ffffff;
    color: #000000;
}
.menu{
    width: 30px;
    background: none;
    padding: 25px 0;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}
.menu span{
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    position: relative;
    transition: 0.3s;
}
@media screen and (max-width: 980px){
    .menu{
        display: block;
    }
    .con{
        z-index: 2;

    }
    .navmenu{
        position: fixed;
        height: 100vh;
        width: 100%;
        padding: 80px 0;
        background-color:  #ffffff;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: .3s linear;
    }
    .navmenu a{
        display: block;
        font-size: 30px;
        text-align: center;
    }
    .navmenu.active{
        right: 0;
    }
    .menu.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu.active span:nth-child(2){
        opacity: 0;;
    }
    .menu.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 40px;
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}
.title button{
    background: none;
    border-radius: 3px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    outline: none;
    border: 1.5px solid #ffffff;
    padding: 9px ;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    transition: .3s;
}